:root {
    /* 代码块颜色配置 */
    --vp-code-block-bg: #161618;
    /* 代码块的背景颜色 */
    --vp-code-block-divider-color: #8899a1;
    /* 代码块中分隔线的颜色 */
    --vp-code-line-highlight-color: #00000080;
    /* 代码块中高亮行的颜色 */
    --vp-code-line-number-color: #8899a1;
    /* 代码块中行号的颜色 */
}