/* 暗黑主题颜色 */
.dark {
    .index-page {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('/images/background.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

/* 首页背景图片 */
.index-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url('/images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}