/* :root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
}

.dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
} */

/* 主题变量样式修改 */
:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
}

/* 取消链接下划线 */
.vp-doc a {
    text-decoration: none;
}
/* info框背景颜色 */
:root {
    --vp-custom-block-info-bg: var(--vp-c-green-soft);
}